@import "index.scss";

body,
html {
  margin: 0 auto;
  padding: 0;
}

.App {
  text-align: center;
  background-color: $VeryLightGray;

  h1 {
    color: $DarkBlue;
    margin-top: -3rem;
    font-size: 4.2em;
    font-weight: 300;
  }

  p {
    color: $GrayishBlue;
    font-size: 1.6em;
    font-weight: 400;
  }

  button {
    background-image: linear-gradient(to right, #2fd16a, #30b6cd);
    color: white;
    margin-top: 1.5rem;
    padding: 20px 40px 20px 40px;
    font-size: 1.6em;
    font-weight: 700;
    border: none;
    border-radius: 100px;
  }
}
