@import "../index.scss";

.Desktop-Nav-bar {
  display: grid;
  place-content: center;
  padding: 2rem 0.5rem 0.5rem 2rem;
  grid-auto-flow: column;
  gap: 2rem;
  max-width: 1900px;
  background-color: white;
  width: 100%;
  a {
    text-decoration: none;
    font-size: 1rem;
    color: $GrayishBlue;
    position: relative;
    top: 0.5rem;
  }
  a:hover {
    color: $LimeGreen;
  }
  img {
    width: 10rem;
    cursor: pointer;
    padding: 0;
    margin-right: 23rem;
    position: relative;
    top: 0.5rem;
  }
  .request-btn2 {
    margin: 0 auto;
    margin-left: 2rem;
    margin-right: 4rem;
    position: relative;
    top: -0.7rem;
    place-content: center;
  }
}
