@import "/src/index.scss";

.Feature-section {
  background-color: $LightGrayishBlue;
  margin: 10rem 0 0 0;
  padding-bottom: 4rem;

  .Headline h1 {
    padding: 4rem 1rem 0 1rem;
    font-size: 3.4em;
  }

  .Headline p {
    padding: 0 1.5rem 0 1.5rem;
  }

  .online {
    margin-top: 3rem;
    width: 5.5rem;
  }
}

.f-list {
  h3 {
    font-size: 1.4rem;
    font-weight: 300;
  }
  p {
    padding: 0 1.5rem 0 1.5rem;
  }

  img {
    margin-top: 2rem;
    width: 5.5rem;
  }
}

.Articles {
  margin: 7rem 0 0 0;
  background-color: #fafafa;
  z-index: 1;

  h2 {
    font-size: 3.4em;
    font-weight: 300;
  }

  .Article-component {
    z-index: 3;
    background-color: white;
    padding: 0 2.5rem 2rem 2.5rem;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      border-radius: 0.8em 0.8em 0 0;
    }
    span {
      margin: 0 auto;
      padding: 1.5rem 0 0 3rem;
      display: flex;
      font-size: 1.1em;
      color: $GrayishBlue;
    }
    h4 {
      color: $DarkBlue;
      font-size: 1.8em;
      font-weight: 300;
      padding: 0rem 1.5rem 0 3rem;
      text-align: left;
    }
    p {
      text-align: left;
      padding: 0 2rem 0 3rem;
    }
  }

  .component-style {
    -webkit-box-shadow: -10px 17px 33px -9px rgba(130, 130, 130, 0.05);
    -moz-box-shadow: -10px 17px 33px -9px rgba(130, 130, 130, 0.05);
    box-shadow: -10px 17px 33px -9px rgba(130, 130, 130, 0.05);
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    border-radius: 0.8rem;
  }
}

@media only screen and (min-width: 760px) {
  .Feature-section {
    margin: 0 auto;
  }
  .Headline h1 {
    text-align: left;
    margin: 0 0 0 4rem;
  }

  .Headline p {
    margin: 1rem 4rem !important;
    text-align: left;
  }

  .f-list p {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .f-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    h3 {
      text-align: left;
      font-size: 1.2rem;
    }
  }

  .feat-box {
    margin: 1rem;
  }
  .feat-box img {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
  }

  .Article-headline h2 {
    text-align: left;
    padding-left: 4rem;
  }
  .Article-component {
    display: flex;
    flex-direction: row-reverse;
    .component-style {
      margin: 1rem;
      padding: 0;

      span,
      p,
      h4 {
        padding-left: 1rem;
      }
    }
  }
}
