@use "./index.scss";

.Feature-section {
  background-color: hsl(220, 16%, 96%);
  margin: 10rem 0 0 0;
  padding-bottom: 4rem;

  .Headline h1 {
    padding: 4rem 1rem 0 1rem;
    font-size: 3.4em;
  }

  .Headline p {
    padding: 0 1.5rem 0 1.5rem;
  }

  .online {
    margin-top: 3rem;
    width: 5.5rem;
  }
}

.f-list {
  h3 {
    font-size: 1.4rem;
    font-weight: 300;
  }
  p {
    padding: 0 1.5rem 0 1.5rem;
  }

  img {
    margin-top: 2rem;
    width: 5.5rem;
  }
}

.Articles {
  margin: 7rem 0 0 0;

  h2 {
    font-size: 3.4em;
    font-weight: 300;
  }
}
