@import "/src/index.scss";

/* Mobile breakpoint */

.Feature-section {
  background-color: $LightGrayishBlue;
  margin: 10rem 0 0 0;
  padding-bottom: 5rem;

  .Headline h1 {
    padding: 4rem 1rem 0 1rem;
    font-size: 3.4em;
  }

  .Headline p {
    padding: 0 1.5rem 0 1.5rem;
  }

  .online {
    width: 5.5rem;
  }
}

.f-list {
  h3 {
    font-size: 1.4rem;
    font-weight: 300;
  }
  p {
    padding: 0 1.5rem 0 1.5rem;
  }

  img {
    margin-top: 2rem;
    width: 5.5rem;
  }
}

.Articles {
  margin: 7rem 0 0 0;
  background-color: white;
  z-index: 1;

  h2 {
    font-size: 3.4em;
    font-weight: 300;
  }

  .component-style {
    -webkit-box-shadow: -10px 17px 33px -9px rgba(130, 130, 130, 0.05);
    -moz-box-shadow: -10px 17px 33px -9px rgba(130, 130, 130, 0.05);
    box-shadow: -10px 17px 33px -9px rgba(130, 130, 130, 0.05);
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    border-radius: 0.8rem;
  }
}

/* Tablet breakpoint */

@media only screen and (min-width: 760px) {
  .Feature-section {
    margin: 0 auto;
  }
  .Headline h1 {
    text-align: left;
    margin: 0 0 0 4rem;
  }

  .Headline p {
    margin: 1rem 4rem !important;
    text-align: left;
  }

  .f-list p {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .f-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    h3 {
      text-align: left;
      font-size: 1.2rem;
    }
  }

  .feat-box {
    margin: 1rem;
  }
  .feat-box img {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
  }
}

/* Desktop breakpoint */
@media only screen and (min-width: 1200px) {
  .Articles {
    background-color: white;
  }
  .Feature-section {
    padding: 3rem;
    position: relative;
    z-index: 1;
    .Headline p {
      padding-right: 40rem;
    }
    .feat-box {
      padding-left: 4rem;
    }
  }
}
