.Hero-img {
  .Bg-blobs {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .Bg-blobs-desktop {
    display: none;
  }

  .Mobile-phones {
    position: absolute;
    width: 85%;
    margin: 0;
    top: -6%;
    left: 7%;
    z-index: 2;
  }
}

.Headline h1 {
  font-size: 1.8rem;
  margin: 0.1em 0 0 0;
}
.Headline p {
  padding: 1em;
}

button.request-btn2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}

@media only screen and (min-width: 760px) {
  body {
    margin-bottom: -20em;
  }
  .Hero-container {
    display: flex;
    flex-direction: row-reverse;

    .Hero-img {
      overflow: hidden;

      .Bg-blobs {
        display: none;
      }

      .Bg-blobs-desktop {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        z-index: 1;
        width: 200%;
        top: -10rem;
        left: -2rem;
      }
      .Mobile-phones {
        width: 50%;
        position: absolute;
        top: 4em;
        left: 40em;
      }
    }
    .Headline {
      width: 50%;
      text-align: left;
      h1 {
        margin-top: 5em;
        font-size: 2.6rem;
        font-weight: 100 !important;
        text-align: left !important;
        margin-left: 1.5em;
      }
      p {
        font-size: 1.2rem;
        padding: 0 0 0 1rem;
        margin: 1rem 0 0 3rem !important;
      }
    }
  }
  button.request-btn2 {
    display: block;
    float: left;
    margin-left: 4rem;
    margin-top: -12rem;
  }
}
