.Hero-img {
  .Bg-blobs {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .Mobile-phones {
    position: absolute;
    width: 85%;
    margin: 0;
    top: -6%;
    left: 7%;
    z-index: 2;
  }
}
